<div class="header_main">
  <div class="header_part_one">
    <div class="header_icon">
      <i class="fa-solid fa-grid-2"></i>
    </div>
    <div class="header_icon">
      <i class="fa-regular fa-house"></i>
    </div>
    <div class="serch_box">
      <input type="text" class="search_theme">
      <i class="fa-solid fa-magnifying-glass search_icon"></i>
    </div>
  </div>
  <div class="header_logo">
    <img src="../../assets/logo.png" class="logo_png" alt="">
  </div>
  <div class="part_three">
    <div class="header_icon">
      <i class="fa-solid fa-plus"></i>
    </div>
    <div class="header_icon">
      <i class="fa-regular fa-circle-info"></i>
    </div>
    <div class="header_icon">
      <i class="fa-regular fa-bell"></i>
    </div>
    <div>
      <img src="../../assets/default_testimonials.png" width="30px" alt="">
    </div>
  </div>
</div>
<div class="dashboard_part">
  <div class="sidebar_main">
    <div class="img_acmc">
      logo
    </div>
    <div class="arrow_img">
      <i class="fa-solid fa-chevrons-right"></i>
    </div>
  </div>
  <div class="start_main_dashboard">
    <div class="top_content">
      <div class="part_one">
        <div class="part_one_content">
          <div class="droupdown">
            <div class="dropdown_icon">
              <i class="fa-solid fa-list"></i>
              <i class="fa-regular fa-angle-down"></i>
            </div>
          </div>
          <div class="heading">
            <h2>Project Team Spirit</h2>
          </div>
          <div class="start_icon">
            <i class="fa-regular fa-star star_i"></i>
          </div>
        </div>
        <div class="part_two">
          <div class="dashboard_part_three">
            <div class="text_box">
              <p>Acmc, Inc,</p>
            </div>
            <div class="avtar">
              <div class="avtar_img">
                <img src="../../assets/default_testimonials.png" width="30px" alt="">
                <img src="../../assets/default_testimonials.png" width="30px" alt="">
                <img src="../../assets/default_testimonials.png" width="30px" alt="">
              </div>
              <div class="notification_number">
                <h3>+12</h3>
              </div>
            </div>
          </div>
          <div class="invite_btn">
            <button class="invite_theme">Invite</button>
          </div>
        </div>
      </div>
      <div class="input_part">
        <i class="fa-solid fa-ellipsis-vertical"></i>
        <input type="text" class="input_theme">
      </div>
    </div>
    <div>
      <app-board></app-board>
    </div>
  </div>
</div>